.about-section {
  padding-top: 60px;
  padding-bottom: 42px;
  // padding-bottom: 60px;
  width: 100%;
  height: 100vh;
  // border: 2px solid tomato;
  position: relative;
  @extend %container;
}
// .aboute-container {
//   @extend %container;
//   position: relative;
//   height: 100vh;
//   border: 2px solid yellow;
// }
.aboute-label {
  display: block;
  margin-bottom: 12px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  text-transform: uppercase;
  color: var(--main-light-color);
  text-align: center;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;

  @media screen and (min-width: 768px) {
    font-weight: 800;
    font-size: 22px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
  @media screen and (min-width: 1200px) {
    font-weight: 800;
    font-size: 30px;
    line-height: 1.23;
    letter-spacing: 0.04em;
  }
}
.aboute-title {
  text-align: center;
  font-family: 'Seymour One', sans-serif;
  font-style: normal;
  text-align: center;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--main-light-color);
  font-size: 30px;
  line-height: 1.27;
  letter-spacing: 0.04em;

  @media screen and (min-width: 768px) {
    font-size: 34px;
    line-height: 1.26;
    letter-spacing: 0.06em;
  }
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.25;
    letter-spacing: 0.06em;
  }
}
.aboute-title-div {
  @media screen and (min-width: 768px) {
    margin-bottom: 79px;
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 172px;
  }
}
.aboute-description_container {
  display: flex;
  // display: block;
  // outline: 2px solid tomato;
  margin-left: auto;
  flex-direction: column;
  display: flex;
  margin-bottom: auto;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    flex-direction: column;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
    // margin-top: auto;
    // margin-bottom: 0;
    width: 220px;
    align-items: center;
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1200px) {
    width: 463px;
    //   margin-left: 105px;
    // }
  }
}
.aboute-description {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: var(--main-light-color);
  font-weight: 400;
  font-size: 12px;
  line-height: 176%;
  letter-spacing: 0.04em;
  margin-bottom: 8px;

  @media screen and (max-width: 480px) {
    text-align: center;
    margin-bottom: 4px;
  }
  @media screen and (min-width: 769px) {
    font-size: 14px;
    line-height: 194%;
  }
}
.aboute-description:nth-child(3) {
  margin-bottom: 48px;
}
.aboute-description:nth-child(2) {
  @media screen and (max-width: 767px) {
    margin-bottom: 20px;
  }
}

.last {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
.about-button {
  display: block;
  @extend %button-read-more;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
  @media screen and (max-width: 480px) {
    // align-items: center;
    margin: 0 auto;
  }
}
.about-button__label {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  color: var(--main-text-color);
}
.about-image {
  position: absolute;
  top: calc(25% + 11.32px);
  top: 25%;
  width: 278px;
  height: 278px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 4.48583px 16.8218px rgba(153, 114, 23, 0.25);

  //
}
.about-image::before {
  position: absolute;
  top: 10%;
  // right: 0%;
  display: block;
  content: '';
  width: 278px;
  height: 278px;
  background-image: url(../images/cowmobile@1x.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: transform 300ms ease;
}

// .about-image-div {
//   position: absolute;
//   bottom: 0px;
//   left: 6px;
//   width: 279px;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -90%);
//   @media screen and (min-width: 768px) {
//     // top: 154px;
//     // left: 18px;
//     width: 335px;
//     transform: translate(-110%, -30%);
//   }
//   @media screen and (min-width: 1200px) {
//     // display: inline-block;
//     top: 183px;
//     left: 0;
//     width: 490px;
//     transform: translate(10%, 10%);
//   }

//   // background-image: url(../images/cowdesktop@1x.jpg);

//   background-repeat: no-repeat;
//   border-radius: 250px;
//   background-image: center bottom;
// }

// .about-image-bgd {
//   // position: absolute;

//   width: 279px;
//   background: linear-gradient(
//       0deg,
//       rgba(248, 210, 78, 0.7),
//       rgba(248, 210, 78, 0.7)
//     ),
//     #d9d9d9;
//   box-shadow: 0px 8px 30px rgba(153, 114, 23, 0.25);
//   border-radius: 250px;
//   // background-position: center top;
//   @media screen and (min-width: 768px) {
//     width: 335px;
//   }
//   @media screen and (min-width: 1200px) {
//     width: 500px;
//   }
// }
