body {
  background-color: var(--main-bg-color);
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: var(--main-text-color);
  cursor: auto;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: url('../images/cursor-min.png'), auto;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.no-scroll {
  overflow: hidden;
 }

button {
  cursor: url('../images/cursor-min.png'), auto;
}
