@import '/node_modules/slick-carousel/slick/slick.scss';

.customer-reviews {
  padding-top: 186px;
  padding-bottom: 394px;
  background-color: var(--white-color);
  background-size: cover;
  background-image: url('../images/ice-cream-bgr-desktop.jpg');

  @media screen and (min-width: 768px) {
    padding-top: 223px;
    padding-bottom: 383px;
  }
  @media screen and (min-width: 1200px) {
    padding-top: 452px;
    padding-bottom: 207px;
  }
}

.carousel {
  &__img {
    margin: 0 auto;
    border-radius: 50%;
  }
  &__thumb {
    margin: 32px 20px 30px 20px;
    @media screen and (min-width: 768px) {
      margin: 28px 32px 32px 32px;
    }

    @media screen and (min-width: 1200px) {
      margin: 32px 116px 94px 116px;
    }
  }
}

.carousel__text {
  padding: 34px 39px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: var(--main-light-color);
  background: var(--main-bg-color);
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    width: 705px;
    padding: 29px 80px 28px 80px;
    margin: 0 auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    border-radius: 24px;
  }

  @media screen and (min-width: 1200px) {
    width: 968px;
    padding: 39px 74px 39px 73px;
    height: auto;
    margin: 0 auto;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    border-radius: 24px;
  }
}

.carousel__name {
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.85;
  text-align: center;
  color: var(--main-text-color);
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;
  font-size: 12px;
  gap: 18px;
  margin-top: 14px;
  margin-bottom: 48px;
  button {
    padding: 0;
    border: none;
    background-color: #d9d9d9;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    font-size: 0;
    &:hover,
    &:focus {
      background-color: var(--main-bg-color);
      transition: background-color 250ms linear;
    }
  }
}

.slick-active {
  button {
    background-color: var(--main-bg-color);
  }
}
