.section-gallery {
  // @extend %container;
  background-image: url(../images/Ice-cream-bgr-mobile.jpg);
  background-size: contain;
  border-top: 24px solid var(--main-bg-color);

  @media screen and (min-width: 768px) {
    background-image: url(../images/Ice-cream-bgr-tablet.jpg);
    border-top: 164px solid var(--main-bg-color);
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/Ice-cream-bgr-desktop.jpg);
    border-top: 101px solid var(--main-bg-color);
  }

  &__item {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }

  &__icon {
    border: transparent;
    border-radius: 7px;
    margin-top: -24px;

    @media screen and (min-width: 768px) {
      border-radius: 18px;
      margin-top: -164px;
    }

    @media screen and (min-width: 1200px) {
      border-radius: 24px;
      margin-top: -101px;
    }
  }
}
