.header {
  position: fixed;
  top: 0;
  left: 50%;
  z-index: 1;
  width: 100%;
  transform: translateX(-50%);
}

.header__container {

  background-color: rgba(156, 190, 143, 0.2);
  border-radius: 15px;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    // padding-left: 32px;
    // padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    // padding-left: 16px;
    // padding-right: 16px;
  }
}

// ***** Мобильное меню*****//
.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  position: fixed;
  z-index: 1111;
  top: 0;
  left: 0;

  height: 100vh;
  width: 100vw;
  padding: 48px 40px;

  background-color: #85a279;
  transition: visibility 580ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 550ms cubic-bezier(0.4, 0, 0.2, 1);

  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.is-hidden {
  transform: translateX(120%);
  // opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


.logo__link {
  position: absolute;
  left: 31px;
  top: 12px;
}

.logo__icon {
  fill: var(--accent-color);
}

.menu__button {
  display: inline-flex;
  margin-top: 16px;
  margin-bottom: 16px;
  margin-left: auto;
  align-items: center;
  background-color: transparent;
  border: none;
}

.icon-open {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .menu__button-open:hover & {
    fill: var(--main-text-color);
  }

  .menu__button-open:focus & {
    fill: var(--main-text-color);
  }
}

.menu__button-close {
  position: absolute;
  top: -5px;
  right: 8px;
}

.icon-close {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--main-light-color);

  .menu__button:hover & {
    fill: var(--main-text-color);
  }
  .menu__button-close:focus & {
    fill: var(--main-text-color);
  }
}

.mobile-menu__nav-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.mobile-menu__nav-link {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 32px;
  line-height: 1.21;
  color: var(--main-light-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    color: var(--main-text-color);
  }
}

.mobile-menu__nav-link-current {
  color: var(--main-text-color);
}
.mobile-menu__contacts-item {
  &:not(:last-child) {
    margin-bottom: 32px;
  }
}

.header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 12px 34px 12px 34px;
  min-width: 152px;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;
  border: none;
  color: var(--dark-color);
  background-color: var(--accent-color);
  border-radius: 10px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--green-btn-color);
  }

  &:focus {
    background-color: var(--green-btn-color);
    color: var(--main-light-color);
  }

  &:focus > .header__icon {
    stroke: var(--main-light-color);
  }
}

.header__icon {
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill-opacity: 0;
  stroke: var(--main-text-color);
  margin-left: 6px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // outline: 2px solid red;
}

.nav {
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    // outline: 2px solid red;
  }
}

.header-logo__link {
  display: inline-block;
  padding: 4px;
  border-radius: 50%;
  outline: none;
  transition: background-color 300ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 300ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    background-color: var(--green-btn-color);
  }

  &:hover > .logo__icon {
    fill: var(--main-light-color);
  }

  &:focus {
    border: 2px solid var(--green-btn-color);
    border-color: var(--green-btn-color);
  }

  &:focus > .logo__icon {
    fill: var(--main-light-color);
  }
}

.logo__icon {
  transition: fill 300ms cubic-bezier(0.4, 0, 0.2, 1);

}

.nav__list {
  display: none;

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.nav__item:not(:last-child) {
  margin-right: 27px;
}

.nav__link {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: var(--main-light-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: var(--accent-color);
  }

  &:focus {
    color: var(--main-light-color);
    outline-color: var(--accent-color);
  }
}

.menu__button-open {
  @media screen and (min-width: 1200px) {
    display: none;
    // outline: 2px solid red;
  }
}
.icon-open {
  fill: var(--white-color);
}

.header__button-top {
  display: none;
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    margin: 24px 32px;
    display: flex;
  }

  @media screen and (min-width: 1200px) {
    margin: 24px 16px;
  }
}
.mobile__nav .header__button-menu {
  display: none;
  margin-top: 120px;
  @media screen and (max-width: 768px) {
    display: block;
  }
}
