.modal-location {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background: var(--main-light-color);
    padding: 28px 28px;
    border: 2px solid transparent;
    
    &:hover,
    &:focus {
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        border-color: var(--accent-color);
    }
}

.close-modal-location {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: transparent;
    border: none;
    padding: 0px;
}

.modal-location__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    width: 100%;
    height: 24px;
    color: var(--main-text-color);
}

.modal-location__wrap {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 199px;
    margin: 20px auto 0px auto;
}

.modal-location__map {
    border-radius: 4%;
    width: 100% ;
    height: 100% ;
}

.modal-location__button {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.25;
    color: var(--main-text-color);
    width: 134px;
    height: 42px;
    border-radius: 10px;
    background-color: var(--accent-color);
    border: none;
    padding: 0;
    margin-top: 24;
}

@media screen and (max-width: 479px){
    .modal-location {
        width: 96%;
    }
}

@media screen and (min-width: 480px) {
    .modal-location {
        width: 450px;
    }
}

@media screen and (min-width: 768px) {
    .modal-location {
        width: 568px;
        padding: 32px 60px;
    }
    
    .close-modal-location {
        top: 20px;
        right: 20px;
    }

    .close-modal-location{
        top: 20px;
        right: 20px;
    }

    .modal-location__title {
        width: 448px;
        height: 28px;
        font-size: 20px;
        line-height: 1.4;
    }

    .modal-location__wrap {
        margin: 32px auto 0px auto;
        width: 448px;
        height: 260px;
    }

    .modal-location__button {
        width: 145px;
        margin-top: 32;
        font-size: 14px;
        line-height: 1.21;
    }
}