@import './common';
@import './header';
@import './hero';
@import './products';
@import './about';
@import './advantages';
@import './gallery';
@import './customers';
@import './contacts';
@import './footer';
