@import './common';
@import './utils/variables';
@import './utils/pleaceholders';
@import './base';
@import './header';
@import './hero';
@import './products';
@import './about';
@import './advantages';
@import './gallery';
@import './customers';
@import './contacts';
@import './modal-header';
@import './modal-products';
@import './modal-about';
@import './modal-location';
@import './modal-franchise';
@import './footer';
@import './backdrop';

