%container {
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
    padding-left: 16px;
    padding-right: 16px;
  }
}

%button-product {
  width: 62px;
  height: 24px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  color: var(--dark-color);

  border-radius: 10px;
  background-color: transparent;
  border: 2px solid var(--accent-color);
  @media screen and (min-width: 1200px) {
    width: 134px;
    height: 42px;
  }
  &:hover {
    border-color: var(--green-btn-color);
  }
  &:focus {
    border-color: var(--green-btn-color);
    color: var(--main-light-color);
  }
  &:disabled {
    border-color: var(--disabled-btn-color);
  }
}

%button-read-more {
  width: 164px;
  height: 42px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  color: var(--main-text-color);

  border-radius: 10px;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);

  &:hover {
    background-color: var(--green-btn-color);
    border: 2px solid var(--green-btn-color);
  }
  &:focus {
    background-color: var(--green-btn-color);
    border: 2px solid var(--green-btn-color);
    color: var(--main-light-color);
  }
  &:disabled {
    background-color: var(--disabled-btn-color);
    border: 2px solid var(--disabled-btn-color);
  }
}
%id-link {
  font-family: 'Montserrat';
  font-size: 8px;
  font-weight: 600;
  line-height: 1.25;
  text-decoration: underline;
  color: var(--accent-color);
  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.21;
  }
  &:hover {
    color: var(--green-btn-color);
  }
  &:focus {
    color: var(--main-light-color);
  }
  &:disabled {
    color: var(--disabled-btn-color);
  }
}
%button-location {
  width: 196px;
  height: 42px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  color: var(--main-text-color);
  cursor: url('../images/cursor-min.png'), auto;
  border-radius: 10px;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);

  &:hover {
    background-color: var(--green-btn-color);
    border: 2px solid var(--green-btn-color);
  }
  &:focus {
    background-color: var(--green-btn-color);
    border: 2px solid var(--green-btn-color);
    color: var(--main-light-color);
  }
  &:disabled {
    background-color: var(--disabled-btn-color);
    border: 2px solid var(--disabled-btn-color);
  }
}
%button-franchise {
  width: 196px;
  height: 42px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  color: var(--main-text-color);
  cursor: url('../images/cursor-min.png'), auto;
  border-radius: 10px;
  background-color: transparent;
  border: 2px solid var(--accent-color);

  &:hover {
    border-color: var(--green-btn-color);
  }
  &:focus {
    border-color: var(--green-btn-color);
    color: var(--main-light-color);
  }
  &:disabled {
    border-color: var(--disabled-btn-color);
  }
}
%button-buy-now {
  width: 152px;
  height: 42px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 600;
  line-height: 1.28;
  color: var(--dark-color);

  border-radius: 10px;
  background-color: var(--accent-color);
  border: 2px solid var(--accent-color);

  &:hover {
    background-color: var(--green-btn-color);
    border: 2px solid var(--green-btn-color);
  }
  &:focus {
    background-color: var(--green-btn-color);
    border: 2px solid var(--green-btn-color);
  }
  &:disabled {
    background-color: var(--disabled-btn-color);
    border: 2px solid var(--disabled-btn-color);
  }
}
