:root{
    --accent-color:#F8D24E;
    --main-bg-color: #84A178;
    --main-text-color: #131313;
    --main-light-color: #FCFCFC;
    --address-text-color: #D6936D;
    --product-first-color: #AEC6A5;
    --product-first-additional-color:rgba(156, 190, 143, 0.7);
    --product-second-color: #EFD478;
    --product-second-additional-color: rgba(248, 210, 78, 0.7);
    --product-third-color: #D6936D;
    --product-third-additional-color: rgba(213, 117, 63, 0.7);
    --product-char-color:#9CBE8F;
    --input-bg-color:rgba(248, 210, 78, 0.1);
    --white-color: #FFFFFF;
}