:root {
  --accent-color: #f8d24e;
  --main-bg-color: #84a178;
  --main-text-color: #131313;
  --main-light-color: #fcfcfc;
  --address-text-color: #d6936d;
  --product-first-color: #aec6a5;
  --product-first-additional-color: rgba(156, 190, 143, 0.7);
  --product-second-color: #efd478;
  --product-second-additional-color: rgba(248, 210, 78, 0.7);
  --product-third-color: #d6936d;
  --product-third-additional-color: rgba(213, 117, 63, 0.7);
  --product-char-color: #9cbe8f;
  --input-bg-color: rgba(248, 210, 78, 0.1);
  --white-color: #ffffff;
  --dark-color: #000000;
  --green-btn-color: #0a8817;
  --disabled-btn-color: #ababab;
}
