
    <section class="about-section">
      <div class="aboute-container">
        <div class="aboute-title-div">
          <label class="aboute-label">Tradition and love </label>
          <h1 class="aboute-title">How it’s made?</h1>
        </div>

        <div class="about-image"></div>
        <!-- <img
            src="./images/cowdesktop@1x.jpg"
            alt="cow"
            class="about-image-div"
          /> -->

        <div class="aboute-description_container">
          <p class="aboute-description">
            Ice is a place where you will become not only a little happier, but
            also healthier. Health is the main value for us, and we follow it
            when creating our handmade desserts.
          </p>
          <p class="aboute-description">
            We use traditional recipes and 100% natural ingredients. Our
            products are so natural that they can be given to children from the
            age of three years. Sweets lovers can expect 55 types of ice cream,
            15 types of coffee and 23 milkshakes.
          </p>
          <p class="aboute-description last">
            This is enough to choose ice cream and coffee for any mood!
          </p>

          <button class="about-button" type="button">
            Read more
            <svg class="about-icons" width="5" height="8">
              <use href=></use>
            </svg>

            <!-- <symbol id="icon-Vector-1" 
              
              viewBox="0 0 22 32">
  <path stroke-linejoin="round" stroke-linecap="round" stroke-miterlimit="4" stroke-width="6.4" d="M3.2 3.2l15.84 12.8-15.84 12.8"></path>


</symbol> -->
          </button>
        </div>
      </div>
    </section>

