<section class="advantages_section">
  <div class="advantages_container">
    <h2 class="advantages_title">advantages</h2>
    <ul class="advantages_list">
      <li class="advantages_item advantages_item-cow">
        <p id="cow" class="advantages_numbers">721</p>
        <p class="advantages_description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages_item advantages_item-weight">
        <p id="weight" class="advantages_numbers">
          16<samp class="advantages_numbers">kg</samp>
        </p>
        <p class="advantages_description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages_item advantages_item-ice-crema">
        <p id="ice-crema" class="advantages_numbers">84</p>
        <p class="advantages_description">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
