<h2 class="visually-hidden">Contacts</h2>
<div class="contacts">
  <div class="container">
    <address >
      <ul class="contacts__box">
        <li class="contacts__list">
          <div class="contacts__text">
            <p class="contacts__category">CAFE</p>

            <div class="contacts__place-on-the-map">
              <p class="contacts__city">Chicago</p>
              <a class="contacts__location" href=""
                >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
              >
            </div>
            <div class="contacts__place-on-the-map">
            <p class="contacts__working-mode">
              Monday - Friday
              <span class="contacts__working-time">06:00 AM - 10:00 PM</span>
            </p>
              <p class="contacts__working-mode">
              Saturday - Sunday
              <span class="contacts__working-time">08:00 AM - 16:00 PM</span>
            </p>
            </div>
            <div class="contacts__link">
              <a class="contacts__tel" href="">+61(0)383766284</a>
              <a class="contacts__mail" href="">noreply@envato.com</a>
            </div>
          </div>
        </li>

        <li class="contacts__list">
          <div class="contacts__text">
            <p class="contacts__category">FOOD TRUCK</p>

            <div class="contacts__place-on-the-map">
              <p class="contacts__city">Los Angeles</p>
              <a class="contacts__location" href=""
                >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
              >
            </div>
            <div class="contacts__place-on-the-map">
            <p class="contacts__working-mode">
              Monday - Friday
              <span class="contacts__working-time">06:00 AM - 10:00 PM</span>
            </p>
              <p class="contacts__working-mode">
              Saturday - Sunday
              <span class="contacts__working-time">08:00 AM - 16:00 PM</span>
            </p>
            </div>
            <div class="contacts__link">
              <a class="contacts__tel" href="">+61(0)383766284</a>
              <a class="contacts__mail" href="">noreply@envato.com</a>
            </div>
          </div>
        </li>

        <li class="contacts__list">
          <div class="contacts__text">
            <p class="contacts__category">CAFE</p>
            <div class="contacts__place-on-the-map">
            <p class="contacts__city">New York</p>
            <a class="contacts__location" href=""
              >726 Sterling Pl, Brooklyn, NY 11222, USA</a
            ></div>
            <div class="contacts__place-on-the-map">
            <p class="contacts__working-mode">
              Monday - Friday
              <span class="contacts__working-time">06:00 AM - 10:00 PM</span>
            </p>
              <p class="contacts__working-mode">
              Saturday - Sunday
              <span class="contacts__working-time">08:00 AM - 16:00 PM</span>
            </p>
            </div>
            <div class="contacts__link">
              <a class="contacts__tel" href="">+61(0)383766284</a>
              <a class="contacts__mail" href="">noreply@envato.com</a>
            </div>
          </div>
        </li>
      </ul>
      <div class="contacts__buttons">
      <button type="submit" class="contacts__button button button__filled">Our Locations
        <svg class="contacts__svg " width="12" height="12">
          <use href="./images/icons.svg#icon-Vector-1"></use>
        </svg></button>
      <button type="submit" class="contacts__button button button__hollow">Franchise
        <svg class="contacts__svg " width="12" height="12">
          <use href="./images/icons.svg#icon-Vector-1"></use>
        </svg>
      </button>
      </div>
    </address>
  </div>
</div>
