<section class="customer-reviews">
    <h2 class="visually-hidden">Customer-reviews</h2>
    <div class="carousel">

        <div class="carousel__item">
            <picture>
                <source srcset="
                ./images/bryandesktop@1x.jpg 1x,
                ./images/bryandesktop@2x.jpg 2x" media="(min-width:1200px)">
                <source srcset="
                ./images/bryandesktop@1x.jpg 1x,
                ./images/bryandesktop@2x.jpg 2x" media="(min-width:768px)">
                <source srcset="
                ./images/bryandesktop@1x.jpg 1x,
                ./images/bryandesktop@2x.jpg 2x" media="(min-width:480px)">
            <img data-aos="flip-right" src="./images/bryandesktop@1x.jpg" alt="Photo Bryan" class="carousel__img" width="85" height="85">
            </picture>
            <div class="carousel__thumb">
                <p data-aos="zoom-in" data-aos="zoom-in" class="carousel__text">Nice Ice Cream shop located in the Center, 
                    an ideal location serves quality ice-creams which attracts many people.</p>
            </div>
                <p class="carousel__name">Diana, Chicago</p>
        </div>

        <div class="carousel__item" > 
            <picture>
                <source srcset="
                ./images/emilydesktop@1x.jpg 1x,
                ./images/emilydesktop@2x.jpg 2x" media="(min-width:1200px)">
                <source srcset="
                ./images/emily1tablet@1x.jpg 1x,
                ./images/emilytablet@2x.jpg 2x" media="(min-width:768px)">
                <source srcset="
                ./images/emilymobile@1x.jpg 1x,
                ./images/emilymobile@2x.jpg 2x" media="(min-width:480px)">
            <img data-aos="flip-right" src="./images/emilydesktop@1x.jpg" alt="Photo Emily" class="carousel__img " width="85" height="85">
            </picture>
            <div data-aos="zoom-out-down"  class="carousel__thumb">
                <p data-aos="zoom-in" class="carousel__text">This is some of the best ice cream found in world. Everyone in our group loved it. 
                    Service was fast. Staff were very friendly.</p>
            </div>
                <p data-aos="zoom-in"  class="carousel__name">Emily, Los Angeles</p>
        </div>

        <div class="carousel__item">
            <picture>
                <source srcset="
                ./images/samdesktop@1x.jpg 1x,
                ./images/samdesktop@2x.jpg 2x" media="(min-width:1200px)">
                <source srcset="
                ./images/samdesktop@1x.jpg 1x,
                ./images/samdesktop@2x.jpg 2x" media="(min-width:768px)">
                <source srcset="
                ./images/samdesktop@1x.jpg 1x,
                ./images/samdesktop@2x.jpg 2x" media="(min-width:480px)">
            <img data-aos="flip-right" src="./images/samdesktop@1x.jpg" alt="Photo Sam" class="carousel__img" width="85" height="85">
            </picture>
            <div class="carousel__thumb">
                <p data-aos="zoom-in" class="carousel__text ">I love eating popsicles on a hot day. 
                    Yours is always delicious. I recommend your cafe to everyone I know.</p>    
            </div>
            <p data-aos="zoom-in" class="carousel__name">Sam, Los Angeles</p>
        </div>

        <div class="carousel__item">
            <picture>
                <source srcset="
                ./images/dianadesktop@1x.jpg 1x,
                ./images/dianadesktop@2x.jpg 2x" media="(min-width:1200px)">
                <source srcset="
                ./images/dianadesktop@1x.jpg 1x,
                ./images/dianadesktop@2x.jpg 2x" media="(min-width:768px)">
                <source srcset="
                ./images/dianadesktop@1x.jpg 1x,
                ./images/dianadesktop@2x.jpg 2x" media="(min-width:480px)">
            <img data-aos="flip-right" src="./images/dianadesktop@1x.jpg" alt="Photo Diana" class="carousel__img" width="85" height="85">
            </picture>
            <div class="carousel__thumb">
                <p data-aos="zoom-in" class="carousel__text">The most delicious ice cream we have ever tasted. Friends recommended you, now I understand why, thanks!</p>
            </div>
            <p data-aos="zoom-in" class="carousel__name">Bryan, New-York</p>
        </div>

        <div class="carousel__item">
            <picture>
                <source srcset="
                ./images/jackdesktop@1x.jpg 1x,
                ./images/jackdesktop@2x.jpg 2x" media="(min-width:1200px)">
                <source srcset="
                ./images/jackdesktop@1x.jpg 1x,
                ./images/jackdesktop@2x.jpg 2x" media="(min-width:768px)">
                <source srcset="
                ./images/jackdesktop@1x.jpg 1x,
                ./images/jackdesktop@2x.jpg 2x" media="(min-width:480px)">
            <img data-aos="flip-right" src="./images/jackdesktop@1x.jpg" alt="Photo Diana" class="carousel__img" width="85" height="85">
            </picture>
            <div class="carousel__thumb">
                <p data-aos="zoom-in" class="carousel__text">It's freshly made ice cream. The best place to have ice cream.
                     The quality is good and worth its price. </p>
            </div>
            <p data-aos="zoom-in" class="carousel__name">Jack, Chicago</p>
        </div>
    </div>
    </section>
     
