<div class="footer-container">
    <div class="footer__text">
        <p class="footer__text-title">homemade ice cream made</p>
        <p class="footer__text-tagline">with passion</p>
    </div>                               
    <div class="footer-contacts">
        <ul class="social-networks">
            <li class="social-networks__item">
                <a class="social-networks__link" href="https://github.com" target="_blank" rel="noopener noreferrer">
                    <svg class="social-networks__icon">
                        <use href="./images/icons.svg#icon-git"></use>
                    </svg>
                </a>
            </li>
            <li class="social-networks__item">
                <a class="social-networks__link" href="https://telegram.org" target="_blank" rel="noopener noreferrer">
                    <svg class="social-networks__icon">
                        <use href="./images/icons.svg#icon-telegram"></use>
                    </svg>
                </a>
            </li>                                    
            <li class="social-networks__item">
                <a class="social-networks__link" href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
                    <svg class="social-networks__icon">
                        <use href="./images/icons.svg#icon-facebook"></use>
                    </svg>
                </a>
            </li>                    
        </ul>
        <span class="footer-contacts__tel">Feel free to contact
            <a class="footer-contacts__link" href="tel:+610383766284"> +61 (0) 383 766 284</a>
        </span>
    </div>                                      
</div>            
<div class="footer-copyright">
    <p class="footer-copyright__text">© 2022 - IceCream. All Rights Reserved.</p>
</div>