<section id="gallery" class="section-gallery">
  <h2 class="section-gallery__title visually-hidden">Gallery</h2>
  <div class="section-gallery__slider">
    <picture class="section-gallery__item">
      <source
        srcset="
          ./images/gallery-tablet@3x.jpg 3x,
          ./images/gallery-tablet@2x.jpg 2x,
          ./images/gallery-tablet@1x.jpg 1x
        "
        media="(min-width: 768px) and (max-width: 1199px)"
      />
      <source
        srcset="
          ./images/gallery-desktop@3x.jpg 3x,
          ./images/gallery-desktop@2x.jpg 2x,
          ./images/gallery-desktop@1x.jpg 1x
        "
        media="(min-width: 1200px)"
      />
      <img
        class="section-gallery__icon"
        srcset="
          ./images/gallery-mobile@3x.jpg 3x,
          ./images/gallery-mobile@2x.jpg 2x
        "
        src="./images/gallery-mobile@1x.jpg"
        alt="Gallery of Ice-cream #1"
      />
    </picture>

    <picture class="section-gallery__item">
      <source
        srcset="
          ./images/gallery1-tablet@3x.jpg 3x,
          ./images/gallery1-tablet@2x.jpg 2x,
          ./images/gallery1-tablet@1x.jpg 1x
        "
        media="(min-width: 768px) and (max-width: 1199px)"
      />
      <source
        srcset="
          ./images/gallery1-desktop@3x.jpg 3x,
          ./images/gallery1-desktop@2x.jpg 2x,
          ./images/gallery1-desktop@1x.jpg 1x
        "
        media="(min-width: 1200px)"
      />
      <img
        class="section-gallery__icon"
        srcset="
          ./images/gallery1-mobile@3x.jpg 3x,
          ./images/gallery1-mobile@2x.jpg 2x
        "
        src="./images/gallery1-mobile@1x.jpg"
        alt="Gallery of Ice-cream #2"
      />
    </picture>

    <picture class="section-gallery__item">
      <source
        srcset="
          ./images/gallery2-tablet@3x.jpg 3x,
          ./images/gallery2-tablet@2x.jpg 2x,
          ./images/gallery2-tablet@1x.jpg 1x
        "
        media="(min-width: 768px) and (max-width: 1199px)"
      />
      <source
        srcset="
          ./images/gallery2-desktop@3x.jpg 3x,
          ./images/gallery2-desktop@2x.jpg 2x,
          ./images/gallery2-desktop@1x.jpg 1x
        "
        media="(min-width: 1200px)"
      />
      <img
        class="section-gallery__icon"
        srcset="
          ./images/gallery2-mobile@3x.jpg 3x,
          ./images/gallery2-mobile@2x.jpg 2x
        "
        src="./images/gallery2-mobile@1x.jpg"
        alt="Gallery of Ice-cream #3"
      />
    </picture>
  </div>
</section>
