<!-- *hero -->
<section class="hero">
	<div class="container hero__container">
			<h1 class="hero__title">ice cream made with <span class="word">passion</span></h1>
			<button type="button" class="button hero__button hero__button-left " >Products</button>
			<button type="button" class="button hero__button hero__button-right" >How it’s made?</button>

			<div class="hero__image-inner">
				

				<picture class="hero__image-top">
					<source media="(min-width: 1200px)" srcset="./images/heroimage/herodesktop@1x.png 1x, 
					./images/heroimage/herodesktop@2x.png 2x" />

					<source media="(min-width: 768px)" srcset="./images/heroimage/herotab@1x.png 1x, 
					./images/heroimage/herotab@2x.png 2x" />

					<source media="(min-width: 480px)" srcset="./images/heroimage/heromobile@1x.png 1x, 
					./images/heroimage/heromobile@2x.png 2x" />

					<img src="./images/heroimage/heromobile@1x.png" alt="ice cream" width="170" height="219" />
			</picture>

			<picture class="hero__image-bottom">
				<source media="(min-width: 1200px)" srcset="./images/heroimage/dotsdesktop@1x.png 1x, 
				./images/heroimage/dotsdesktop@2x.png 2x" />

				<source media="(min-width: 768px)" srcset="./images/heroimage/dotstab@1x.png 1x, 
				./images/heroimage/dotstab@2x.png 2x" />

				<source media="(min-width: 480px)" srcset="./images/heroimage/dotsmobile@1x.png 1x, 
				./images/heroimage/dotsmobile@2x.png 2x" />

				<img src="./images/heroimage/dotsmobile@1x.png" alt="ice cream" width="485" height="590" />
		</picture>			
			</div>

			<div class="numbers">
				<div class="numbers__one">
					<p class="numbers__data"><span id="target">16</span></p>

					<p class="numbers__description">cafes</p>
				</div>
				<div class="numbers__two">
					<p class="numbers__data"><span id="2">23</span></p>
					<p class="numbers__description">food trucks</p>
				</div>

<div class="common__inner">
		<picture class="hero__image-left">
			<source media="(min-width: 1200px)" srcset="./images/heroimage/platedesktop@1x.png 1x, 
			./images/heroimage/platedesktop@2x.png 2x" />

			<source media="(min-width: 768px)" srcset="./images/heroimage/platetab@1x.png 1x, 
			./images/heroimage/platetab@2x.png 2x" />

			<img src="./images/heroimage/platetab@1x.png" alt="ice cream" width="152" height="152" />
	</picture>

	<div class="hero__text-inner">

		<p class="hero__text">
			Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
		</p>
	
		<button class="hero__button-bottom" type="button">
			<svg class="arrow" width="40" height="100%">
					<use href="./images/icons.svg#icon-Frame-62"></use>
			</svg>
			<svg class="arrow__hover" width="50" height="100%">
					<use href="./images/icons.svg#icon-Arrow-hover"></use>
			</svg>
			<svg class="arrow__focus" width="50" height="100%">
					<use href="./images/icons.svg#icon-Arrow-focus"></use>
			</svg>
	</button>

	</div>
</div>
	</div>
</section>