<div class="demo-header demo">
    <button type="button" class="header-modal" data-modal-open>Buy now</button>
    <div class="backdrop is-hidden" data-modal>
        <div class="modal-header">
            <button type="button" class="close-modal" data-modal-close>
                <svg class="modal__close-icon" width="20" height="20">
                    <use href="./images/icons.svg#menu-close"></use>
                </svg>
            </button>
            <p class="modal-header__title">Buy now</p>
            <form class="modal-header-form">
                <div class="modal-assortment">
                    <input 
                    type="checkbox"
                    class="checkbox-ice-cream visually-hidde"
                    name="ice-cream"
                    required
                    id="ice-cream">
                    <label for="ice-cream" class="type-assortment">ice cream</label>
                    
                    <input 
                    type="checkbox"
                    class="checkbox-ice-coffee visually-hidde"
                    name="ice-coffee"
                    required
                    id="ice-coffee">
                    <label for="ice-coffee" class="type-assortment type-ice-coffee">ice coffee</label>

                    <input 
                    type="checkbox"
                    class="checkbox-milkshake visually-hidde"
                    name="checkbox-milkshake"
                    required
                    id="milkshake">
                    <label for="milkshake" class="type-assortment">milkshake</label>
                </div>
                <div class="modal-order-form">
                    <input 
                        class="modal-header-form__input input-name" 
                        type="text" 
                        placeholder="Name" 
                        name="user-name" 
                        required
                        pattern="^[a-zA-Zа-яА-ЯіІїЇ]+$"
                        > 
                    <input 
                        type="tel" 
                        class="modal-header-form__input input-phone" 
                        placeholder="Phone" 
                        name="user-phone" 
                        required 
                        pattern="[+380]{4}[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{3}"
                        title="+380xxxxxxxxx"
                        >
                    <textarea 
                    class="modal-header-form__message" name="user-message" placeholder="Comment"></textarea>
                    <button type="submit" class="modal-header-form__submit">Submit</button>
                </div>
            </form>
        </div>
    </div>

</div>

<div class="demo-products demo">
    <button type="button demo" class="products-modal">products</button>
</div>
<div class="demo-about demo">
    <button type="button" class="about-modal">Read more</button>
</div>
<div class="demo-contacts demo">
    <button type="button" class="contacts-modal-location">Our Locations</button>
    <button type="button" class="contacts-modal-franchise">Franchise</button>
</div>
