<div class="backdrop is-hidden" data-modal-products>
    <div class="modal-products">
    <button type="button" class="close-modal-products" data-modal-close-products>
        <svg class="modal__close-icon" width="20" height="20">
            <use href="./images/icons.svg#menu-close"></use>
        </svg>
    </button>
    <div class="chololate">
        <h3 class="chololate-title">Chololate icecream</h3>
        <div class="chololate-pic">
        </div>
        <ul class="chololate-about__list">
            <li class="chololate-about__item">
                <div class="chololate-about__wrap">
                    <span class="chololate-about__amount">320</span>
                </div>
                <p class="chololate-about__main-info">kcal</p>
            </li>
            <li class="chololate-about__item">
                <div class="chololate-about__wrap">
                    <span class="chololate-about__amount">4g</span>
                </div>
                <p class="chololate-about__main-info">Protein...</p>
            </li>
            <li class="chololate-about__item">
                <div class="chololate-about__wrap">
                    <span class="chololate-about__amount">8,2g </span>
                </div>
                <p class="chololate-about__main-info">Fats</p>
            </li>
            <li class="chololate-about__item">
                <div class="chololate-about__wrap">
                    <span class="chololate-about__amount">40,4g </span>
                </div>
                <p class="chololate-about__main-info">Carbs</p>
            </li>
        </ul>
    </div>
    <div class="ingredients">
        <h4 class="ingredients-title">ingredients</h4>
        <table class="ingredients-table">
            <tr class="modal-table-row">
                <td class="ingredient-table-name">Milk</td>
                <td class="ingredient-table-amount">100ml</td>
            </tr>
            <tr class="ingredients-table-row">
                <td class="ingredient-table-name">Belgian chocolate</td>
                <td class="ingredient-table-amount">20g</td>
            </tr>
            <tr class="ingredients-table-row">
                <td class="ingredient-table-name">Cream</td>
                <td class="ingredient-table-amount">150 ml</td>
            </tr>
            <tr class="ingredients-table-row">
                <td class="ingredient-table-name">Cocoa powder</td>
                <td class="ingredients-table-amount">30g</td>
            </tr>
            <tr class="ingredients-table-row">
                <td class="ingredient-table-name">Sugar</td>
                <td class="ingredient-table-amount">40g</td>
            </tr>
            <tr class="ingredients-table-row">
                <td class="ingredient-table-name">Vanilla sugar</td>
                <td class="ingredient-table-amount">10g</td>
            </tr>
        </table>
    </div>
        <form class="modal-products-form">
            <input 
                class="modal-products-form__input" 
                type="text" 
                placeholder="Name" 
                name="user-name" 
                required
                pattern="^[a-zA-Zа-яА-ЯіІїЇ]+$"
                > 
            <input 
                type="tel" 
                class="modal-products-form__input form-tel" 
                placeholder="Phone" 
                name="user-phone" 
                required 
                pattern="[+380]{4}[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{3}"
                title="+380xxxxxxxxx"
                >
            <textarea 
            class="modal-products-form__message" name="user-message" placeholder="Comment"></textarea>
            <button type="submit" class="modal-products-form__submit">Submit</button>
        </form>
    </div>
</div>
