<div class="demo-header demo">
    <button type="button" class="header-modal" data-modal-open>Buy now</button>
    <div class="backdrop is-hidden" data-modal>
        <div class="modal-header">
            <button type="button" class="close-modal" data-modal-close>
                <svg class="modal__close-icon" width="20" height="20">
                    <use href="./images/icons.svg#menu-close"></use>
                </svg>
            </button>
            <p class="modal-header__title">Buy now</p>
            <ul class="modal-header-list">
                <li class="modal-header-list__item">ice cream</li>
                <li class="modal-header-list__item">ice coffee</li>
                <li class="modal-header-list__item">milkshake</li>
            </ul>
            <form class="modal-header-form">
                <input class="modal-header-form__input" type="text" placeholder="Name">
                <input class="modal-header-form__input" type="text" placeholder="Phone">
                <textarea class="modal-header-form__message" name="user-message" placeholder="Comment"></textarea>
                <button type="submit" class="modal-header-form__submit">Submit</button>
            </form>
        </div>
    </div>

</div>

<div class="demo-products demo">
    <button type="button demo" class="products-modal">products</button>
</div>
<div class="demo-about demo">
    <button type="button" class="about-modal">Read more</button>
</div>
<div class="demo-contacts demo">
    <button type="button" class="contacts-modal-location">Our Locations</button>
    <button type="button" class="contacts-modal-franchise">Franchise</button>
</div>
