<div class="backdrop is-hidden" data-modal-location>
    <div class="modal-location">
        <button type="button" class="close-modal-location" data-modal-close-location>
            <svg class="modal__close-icon" width="20" height="20">
                <use href="./images/icons.svg#menu-close"></use>
            </svg>
        </button>
        <p class="modal-location__title">Our Locations</p>
        <div class="modal-location__wrap">
            <iframe class="modal-location__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2572.7594732816883!2d23.986492667762707!3d49.84697680168065!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x473add6e7963a703%3A0x41fa1ba2836c970b!2sPat%20L%CA%B9vivs%CA%B9kyy%20Kholodokombinat%20Tm%20Limo!5e0!3m2!1sru!2sua!4v1663674202104!5m2!1sru!2sua" 
                    style="border:0;" 
                    allowfullscreen="" 
                    loading="lazy" 
                    referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <form action="https://goo.gl/maps/L7dbg5A1hLs9ZBZc9" target="_blank" rel="noopener noreferrer nofollow">
            <button class="modal-location__button">Open map</button>
        </form>
    </div>
</div>